<header class="topbar">
    <div class="contLogo">
        <img src="images/blanco1.png" alt="AFILMS" class="logo">
    </div>

    <div class="center">
        <div class="buscar">
            <input class="buscar" type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="noti">
        <i class="fa-regular fa-bell"></i>
    </div>


    <div class="right">
        <div class="usuari">
            <img src="images/fotoPerfil.jpg" alt="Usuario">
        </div>
    </div>
</header>