:root {
  --blanquito: #f1f0ec;
  --amarrillito: #ffc107;
  --azulito: #383940;
  --negrito: #2e2d2d;
  --texto: Comfortaa, sans-serif;
}

/* ========= RESETEO ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--texto);
}


/* ========= MAIN ========= */
main {
  margin-top: 80px;
  margin-left: 85px;
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.section-header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.yellow-bar {
    width: 6px;
    height: 26px;
    background-color: var(--amarrillito);
    border-radius: 4px;
    margin-right: 10px;
}

.section-header h2 {
    font-size:35px;
    color: white;
    font-weight: 600;
}

.section-divider {
    width: calc(100% - 90px);
    height: 3px;
    background-color: var(--azulito);
    margin-top: 6px;
    margin-bottom: 25px;
    border-radius: 2px;
}

/* ========= SELECT PERSONALIZADO ========= */

.filtro-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filtro-item label {
  font-size: 14px;
  opacity: 0.85;
}

.filtro-item select {
  width: 18vw; 
  height: 3vw;
  padding: 6px 32px 6px 10px;
  border-radius: 8px;
  background: var(--blanquito);
  color: var(--negrito);
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  font-size: 14px;
}

.select-wrapper {
  position: relative;
  width: 18vw;
}

.select-wrapper select {
  width: 100%;
  height: 3vw;
  padding: 7px 10px;
  border-radius: 8px;
  background: var(--blanquito);
  color: var(--negrito);
  border: none;
  outline: none;
  appearance: none;
}

.select-wrapper .arrow {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: 0.3s ease;
  pointer-events: none;
  color: var(--negrito);
}

.filtro-item select option:checked {
  background-color: var(--amarrillito);
  color: black;
}


/* ===== FILTROS LAYOUT ===== */

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
  align-items: flex-end;
}

.btn-filtrar {
  background: #3f3f3f;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-random {
  background: var(--amarrillito);
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}



/* ===== CARTAS ===== */

.grid-posters {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

.poster-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-card img {
  width: 150px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
  transition: 0.25s ease;
}

.poster-card img:hover {
  transform: scale(1.06);
}

.poster-title {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
