:root {
  --blanquito: #f1f0ec;
  --amarrillito: #ffc107;
  --azulito: #383940;
  --negrito: #2e2d2d;
  --texto: Comfortaa, sans-serif;
}

/* ========= RESETEO ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--texto);
}
/* ========= MAIN ========= */
main {
  margin-top: 50px;
  margin-left: 85px;
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  padding: 40px;
  justify-items: center;
  overflow: visible; 
}

.anime-card {
  background-color: var(--azulito);
  border-radius: 12px;
  overflow: visible; 
  position: relative;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.anime-card:hover {
  transform: scale(1.05);
}

.anime-card img {
  width: 100%;
  height: 14vw;
  object-fit: cover;
  border-bottom: 2px solid #333;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.anime-card .title {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px 0 10px;
  color: #ffffff;
  min-height: 48px;
}

.anime-card .rating {
  font-size: 12px;
  padding: 4px 10px 10px 10px;
  color: #bbb;
}

.anime-card .rank {
  position: absolute;
  bottom: 38px;
  left: -10px;
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rank.gold {
  background-color: gold;
}

.rank.silver {
  background-color: silver;
}

.rank.bronze {
  background-color: #cd7f32;
}

.rank.gray {
  background-color: #58a4bb;
}