<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <!-- Barra superior -->
    <header class="topbar">
      <%- include('../partials/header') %>
    </header>

    <!-- Menú lateral -->
    <nav class="sidebar">
      <%- include('../partials/menuLteral') %>
    </nav>
    <main>
    </main>

</body>

</html>