<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header>
    <%- include('../partials/header') %>
    <%- include('../partials/menuLteral') %>
  </header>
  <main>
  
  </main>

</body>

</html>