<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <!-- Barra superior -->
    <header class="topbar">
      <%- include('../partials/header') %>
    </header>

    <!-- Menú lateral -->
    <nav class="sidebar">
      <%- include('../partials/menuLteral') %>
    </nav>
    <!-- Contenido principal -->
    <main>

      <!-- Carrusel principal -->
      <section class="main-carousel">
        <div class="carousel-wrapper">
          <div class="carousel-item active">
            <img src="/images/psot.jpg" alt="One Punch Man">
            <div class="carousel-info">
              <div class="carousel-buttons">
                <button class="btn-details">Detalles</button>
                <button class="btn-watch">Ver ahora</button>
              </div>
            </div>
          </div>
          <button class="carousel-btn prev">&#10094;</button>
          <button class="carousel-btn next">&#10095;</button>
        </div>

        <!-- Indicadores -->
        <div class="carousel-indicators">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>

      </section>

      <!-- Fila de tarjetas -->
      <section class="cards-section">
        <h3>Recomendados</h3>
        <div class="cards-container">
          <div class="card"><img src="/images/images.jpg" alt="jujutsu kaisen"></div>
          <div class="card"><img src="/images/black phone.jpg" alt="telefono negro 2"></div>
          <div class="card"><img src="/images/100.jpg" alt="the 100"></div>
          <div class="card"><img src="/images/coju.jpg" alt="El conjuro"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
        </div>  
      </section>

        <section class="cards-section">
        <h3>Peliculas</h3>
        <div class="cards-container">
          <div class="card"><img src="/images/images.jpg" alt="jujutsu kaisen"></div>
          <div class="card"><img src="/images/black phone.jpg" alt="telefono negro 2"></div>
          <div class="card"><img src="/images/100.jpg" alt="the 100"></div>
          <div class="card"><img src="/images/coju.jpg" alt="El conjuro"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
        </div>
      </section>

        <section class="cards-section">
        <h3>Series</h3>
        <div class="cards-container">
          <div class="card"><img src="/images/images.jpg" alt="jujutsu kaisen"></div>
          <div class="card"><img src="/images/black phone.jpg" alt="telefono negro 2"></div>
          <div class="card"><img src="/images/100.jpg" alt="the 100"></div>
          <div class="card"><img src="/images/coju.jpg" alt="El conjuro"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
          <div class="card"><img src="/images/stan.jpg" alt="Stan de los besos"></div>
        </div>

        
      </section>
    </main>

    <script src="/scripts/carru.js"></script>
</body>


</html>