<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/top.css">
</head>

<body>
  <header>
    <!-- Barra superior -->
    <header class="topbar">
      <%- include('../partials/header') %>
    </header>

    <!-- Menú lateral -->
    <nav class="sidebar">
      <%- include('../partials/menuLteral') %>
    </nav>
    <main>
       <div class="anime-grid">
        <div class="anime-card">
            <img src="/images/images.jpg" alt="Fullmetal Alchemist: Brotherhood">
            <div class="title">Fullmetal Alchemist: Brotherhood</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Attack on Titan">
            <div class="title">Attack on Titan</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Death Note">
            <div class="title">Death Note</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Jujutsu Kaisen">
            <div class="title">Jujutsu Kaisen</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Demon Slayer">
            <div class="title">Demon Slayer</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="One Piece">
            <div class="title">One Piece</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Steins;Gate">
            <div class="title">Steins;Gate</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Hunter x Hunter">
            <div class="title">Hunter x Hunter</div>
        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="Solo Leveling">
            <div class="title">Solo Leveling</div>

        </div>

        <div class="anime-card">
            <img src="/images/images.jpg" alt="My Hero Academia">
            <div class="title">My Hero Academia</div>
        </div>
    </div>
    </main>

</body>

</html>